* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.repos-container {
  width: 800px;
  background-color: #f6f6f6;
  margin: 150px auto;
}
.repos-container .get-repos {
  padding: 20px;
  display: flex;
  background-color: #eee;
}

.repos-container .get-repos input {
  width: 100%;
  padding: 15px 20px;
  font-size: 20px;
  height: 54px;
  border-radius: 6px;
  border: none;
}
.repos-container .get-repos input:focus {
  outline: 2px solid #f44336;
}

.repos-container .get-repos .get-button {
  width: 140px;
  margin-left: 10px;
  border-radius: 6px;
  height: 54px;
  background-color: #f44336;
  color: white;
  line-height: 54px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.repos-container .show-data {
  padding: 20px;
  background-color: #e0e0e0;
}

.repo-box {
  background-color: white;
padding: 15px;
}

.repo-box:not(:last-child){
margin-bottom: 5px;
}

.repo-box a,
.repo-box span{
  float: right;
  margin-left: 4px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  width: 90px;
  text-align: center;
  padding: 4px;
}
.repo-box a{
  text-decoration: none;
  background-color: #E91e63;
}
.repo-box span{
  background-color: #009688;

}
